#container{
    width: 60vw;
    height: 350vh;
    margin: 20px auto;
    border: 2px solid black;
    text-align: center;
}

#input{
    width: 40vw;
    font-size: 20px;
margin: 10px auto;

}

#uppertext{
    width: 40vw;
    /* height: 40vh; */ 
    /* border: 2px solid black; */
    margin: 20px auto;
}

#box1{
    width: 40vw;
    font-size: 18px;
    border: 2px solid black;
    background-color: rgb(65, 146, 184);
}

#box2{
    width: 40vw;
    font-size: 18px;
    border: 2px solid black;
    background-color: rgb(150, 65, 184);
}

#box3{
    width: 40vw;
    font-size: 18px;
    border: 2px solid black;
    background-color: rgb(65, 170, 184);
}

#box4{
    background-color: rgb(184, 65, 174);
    width: 40vw;
    font-size: 18px;
    border: 2px solid black;
}

#box5{
    background-color: rgb(121, 65, 184);
    width: 40vw;
    font-size: 18px;
    border: 2px solid black;
}

#box6{
    background-color: rgb(65, 146, 184);
    width: 40vw;
    font-size: 18px;
    border: 2px solid black;
}

#box7{
    background-color: rgb(65, 184, 111);
    width: 40vw;
    font-size: 18px;
    border: 2px solid black;
}
